@model ContactsAdminApp.Models.Contact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contact</h4>
    <hr />
    <aside class="col-sm-3">
        @if (!string.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Model.ImageUrl" alt="Alternate Text" width="260" />
        }
    </aside>
    <div class="col-sm-9">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Position.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Position.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LandlinePhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LandlinePhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CellPhone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CellPhone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
